<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >
    <!-- xmlns:android= XML-Namespace für Android-Attribute. Es definiert die Verwendung
    von Attributen, die von Android bereitgestellt werden -->

    <!-- xmlns:tools= = definiert den XML-Namespace für die Android-Entwicklertools -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" >
        <!-- android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" -->
    <activity
        android:name=".MainActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
</application>

</manifest>

<!-- Eine Manifest-Datei enthält globale Informationen über die gesamte App,
beispielsweise Zugriffsberechtigungen, etc -->

<!-- android:name=".MainActivity" = MainActivity aus com.example.myapplication -->

<!-- android:allowBackup="true": Gibt an, ob die Anwendung für den Backup-Dienst von Android
zugelassen ist, um Daten zu sichernn -->

<!-- android:icon="@mipmap/ic_launcher": Der Pfad zum Symbol/Logo der Anwendung -->

<!-- android:label="@string/app_name": Der Name der Anwendung, der angezeigt wird-->

<!-- android:supportsRtl="true": Gibt an, dass die Anwendung das Right-to-Left-Layout
unterstützt -->